{extend name='base' /}
<script type="text/javascript" src="__STATIC__/home/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/home/js/lrtk.js"></script>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="__STATIC__/home/js/modernizr.js"></script>
<![endif]-->

<!-- 返回顶部调用 begin -->
<script type="text/javascript" src="__STATIC__/home/js/up/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/home/js/up/js.js"></script>
<!-- 返回顶部调用 end-->
{block name='content'}
<div class="topnews">
    <h2><b>文章</b>推荐</h2>
    {foreach name='articleData' item='vo'}
    <div class="blogs">
        <figure><img src="{$vo['arc_thumb']}" height="140"></figure>
        <ul>
            <h3><a href="{:url('index/content/index',['arc_id'=>$vo['arc_id']])}">{$vo['arc_title']}</a></h3>
            <p>{:substr($vo['arc_digest'],0,390)} ...</p>
            <p class="autor">
                <span class="lm f_l">
                    {foreach name="$vo['tags']" item='v'}
                        <a href="{:url('index/lists/index',['tag_id'=>$v['tag_id']])}">{$v['tag_name']}</a>、
                    {/foreach}
                </span>
                <span class="dtime f_l">{:date('Y-m-d',$vo['sendtime'])}</span>
                <span class="viewnum f_r">浏览（<a>{$vo['arc_click']}</a>）</span>
                <!--<span class="pingl f_r">评论（<a href="/">30</a>）</span>-->
            </p>
        </ul>
    </div>
   {/foreach}
</div>

<div class="page"><a title="Total record"><b>106</b> </a><b>1</b><a href="/news/index_2.html">2</a><a href="/news/index_3.html">3</a><a href="/news/index_4.html">4</a><a href="/news/index_5.html">5</a><a href="/news/index_2.html">&gt;</a><a href="/news/index_5.html">&gt;&gt;</a></div>
{/block}